# Игнорируем вообще всё
*

# Разрешаем директории, чтобы git мог заглядывать внутрь
!*/

# Разрешаем только эти файлы (в верхнем уровне bash_and_regex/)
!/.gitignore
!/README.md
!/tasks.md
!/generate.py
!/clean.py
!/check.py
